.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1c23;
  color: white;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding-left: 2%;
}

.logo img:hover {
  box-shadow: 0px -20px 2px #ffffff11 inset;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.nav-links li a:hover {
  color: lightgray;
}

/* Estilos para el navbar en móvil */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: 60px;
  }

  .logo {
    margin: 0;
    padding-left: 20px;
    margin-top: 10px;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links li a {
    font-size: 18px;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }
}
